# Environment variables
.env

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# IDE and editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
.DS_Store
